{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 150,
	"overrides": [
		{
			"files": "**/clientLWC/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.js",
			"options": { "singleQuote": true }
		}
	]
}
