input {
  width: 100%;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  white-space: nowrap;
  vertical-align: top;
  padding: 5px;
  border: 1px solid #666;
}